<!DOCTYPE html>
<html>
<head>
  <title>Radar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire"></span>&nbsp;Technology Radar</a>

        <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">New<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="width:300px">
                        <li>

                            <%= form_tag("/create_spot", method: "post", :class=>"form-horizontal", :style=>"margin-top:5px") do %>

                            <div class="form-group">
                                <%= label_tag(:name, "Tech:", :class=>"control-label col-xs-4") %>
                                <div class="col-xs-8">
                                    <%= text_field_tag(:name) %>
                                </div>
                            </div>

                            <div class="form-group">
                                <%= label_tag(:sector, "Section:", :class=>"control-label col-xs-4") %>
                                <div class="col-xs-5">
                                    <%= select_tag(:sector, options_for_select(['Techniques', 'Platforms', 'Tools', 'Languages']) ) %>
                                </div>
                                <div class="col-xs-3">
                                    <%= submit_tag("Add", :class=>"btn btn-sm btn-primary") %>
                                </div>

                            </div>

                            <% end %>

                        </li>
                        <!--
                        <li class="divider"></li>
                        <li><%#=link_to "Project", :controller=>'projects', :action=>'new'%></li>
                        -->
                    </ul>
                </li>

        </ul>
    </div>
</div>
</br></br></br>


<%= yield %>

</body>
</html>
